@charset "UTF-8";

:root {
    --background-site: #E9E9E9;

    --vermelho-principal: #CC0000;
    --vermelho-escuro: #B30000;
    --vermelho-claro: #E73838;

    --cinza-claro: #444444;
    --cinza-escuro: #383838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-site);
}

header {
    background: var(--vermelho-principal);
    padding: 10px 0 20px;
}

header > .container-header {
    width: 1004px;
    margin: auto;
}

header > .container-header > .flex-cont-left {
    display: inline-flex;
    align-items: center;
}

header > .container-header > .flex-cont-left > a > img {
    display: inline;
}

header > .container-header > .flex-cont-left > nav {
    display: inline;
}

header > .container-header > .flex-cont-left > nav > ul {
    display: inline;
    margin-left: 20px;
}

header > .container-header > .flex-cont-left > nav > ul > li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

header > .container-header > .flex-cont-left > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

header > .container-header > .flex-cont-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > .container-header > .flex-cont-right img {
    width: 18px;
    display: inline;
}

header > .container-header > .flex-cont-right > .select-lingua {
    display: inline-flex;
    align-items: center;
    color: white;
}

header > .container-header > .flex-cont-right > .select-lingua > img {
    display: inline;
}

header > .container-header > .flex-cont-right > .select-lingua > p {
    display: inline;
}

.header-bottom {
    background: var(--vermelho-principal);
    border-top: 1px solid white;
}

.header-bottom > .container-header-bottom {
    width: 1004px;
    margin: auto;
}

.header-bottom > .container-header-bottom > .flex-cont-left {
    display: inline-flex;
    justify-content: start;
}

.header-bottom > .container-header-bottom > .flex-cont-left > .radio-vaticana {
    background: white;
    display: inline-block;
    color: var(--vermelho-principal);
    border: 1px solid black;
    border-radius: 2px;
}

.header-bottom > .container-header-bottom > .flex-cont-left > .allegretto {
    display: inline;
    color: white;
}

.header-bottom > .container-header-bottom > .flex-cont-right {
    display: flex;
    justify-content: end;
}

.header-bottom > .container-header-bottom > .flex-cont-right > .podcast {
    display: inline;
    background: white;
    color: var(--vermelho-principal);
}

.header-bottom > .container-header-bottom > .flex-cont-right > .podcast > img {
    width: 14px;
}

.header-bottom > .container-header-bottom > .flex-cont-right > .programacao {
    display: inline;
    background: white;
    color: var(--vermelho-principal);
}

.header-bottom > .container-header-bottom > .flex-cont-right > .programacao > img {
    width: 16px;
}

/* ----- MAIN ----- */
main {
    width: 1004px;
    margin: auto;
    padding-top: 40px;
}

main > .noticia-principal > .imagem > a > img {
    width: 492px;
}

main > .noticia-principal > .mensagem {
    width: 492px;
    padding: 10px;
    background: var(--vermelho-principal);
}

main > .noticia-principal > .mensagem > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}