body {
    background: var(--background-site);
}

/* HEADER */
header {
    background: var(--vermelho-principal);
    padding: 10px 0 20px;
}

header > .container-header {
    width: 1004px;
    margin: auto;
    /* Posicionando os elementos do header com flexbox */
    display: flex;
    justify-content: space-between;
}

header > .container-header > .flex-cont-left {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

header > .container-header > .flex-cont-left > a > img {
    display: inline;
}

header > .container-header > .flex-cont-left > nav {
    display: inline;
}

header > .container-header > .flex-cont-left > nav > ul {
    display: inline;
    margin-left: 20px;
}

header > .container-header > .flex-cont-left > nav > ul > li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

header > .container-header > .flex-cont-left > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

header > .container-header > .flex-cont-right {
    display: flex;
    align-items: center;
}

header > .container-header > .flex-cont-right img {
    width: 18px;
    display: inline;
}

header > .container-header > .flex-cont-right > .select-lingua {
    color: white;
}

header > .container-header > .flex-cont-right > .select-lingua > img {
    display: inline;
}

header > .container-header > .flex-cont-right > .select-lingua > p {
    display: inline;
}

.header-bottom {
    background: var(--vermelho-principal);
    border-top: 1px solid white;
}

.header-bottom > .container-header-bottom {
    width: 1004px;
    margin: auto;
    /* Posicionando os elementos do header-bottom com flexbox */
    display: flex;
    justify-content: space-between;
}

.header-bottom > .container-header-bottom > .flex-cont-left {
    display: inline-flex;
    justify-content: start;
}

.header-bottom > .container-header-bottom > .flex-cont-left > .radio-vaticana {
    background: white;
    display: inline-block;
    color: var(--vermelho-principal);
    border: 1px solid black;
    border-radius: 2px;
}

.header-bottom > .container-header-bottom > .flex-cont-left > .allegretto {
    display: inline;
    color: white;
}

.header-bottom > .container-header-bottom > .flex-cont-right {
    display: flex;
    justify-content: end;
}

.header-bottom > .container-header-bottom > .flex-cont-right > .podcast {
    display: inline;
    background: white;
    color: var(--vermelho-principal);
}

.header-bottom > .container-header-bottom > .flex-cont-right > .podcast > img {
    width: 14px;
}

.header-bottom > .container-header-bottom > .flex-cont-right > .programacao {
    display: inline;
    background: white;
    color: var(--vermelho-principal);
}

.header-bottom > .container-header-bottom > .flex-cont-right > .programacao > img {
    width: 16px;
}

/* ----- MAIN ----- */
main {
    width: 1004px;
    margin: auto;
    padding-top: 40px;
}

/* Criando os grids com noticias */
main > .grid-cont-inicio {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(6, 100px);
    gap: 1em;
    grid-template-areas: 
    "n-1 n-1 n-2 n-3"
    "n-1 n-1 n-2 n-3"
    "n-1 n-1 n-4 n-5"
    "n-1 n-1 n-4 ..."
    "n-6 n-7 n-8 n-9"
    "n-6 n-7 n-8 n-9";
}

/* Background color para as notícias (teste) */
main > .grid-cont-inicio > .cont-noticia, 
main > .grid-cont-inicio > .cont-noticia.noticia-principal {
    background: teal;
}

/* Definindo como relativo para posicionar o paragrafo
de forma absoluta no bottom */
main > .grid-cont-inicio > .cont-noticia.noticia-principal {
    position: relative;
}

/* Definindo como relativo para posicionar o paragrafo
de forma absoluta no bottom */
main > .grid-cont-inicio > .cont-noticia {
    position: relative;
}

/* Paragrafo da notícia principal */
main > .grid-cont-inicio > .cont-noticia.noticia-principal > p {
    background: var(--vermelho-principal);
    color: white;
    font-size: 38px;
    padding: 10px 10px 80px 10px; 
    position: absolute;
    bottom: 0; 
} 

/* Paragrafo das notícias menores */
main > .grid-cont-inicio > .cont-noticia > p {
    font-weight: 600;
    padding: 10px 10px 22px 10px; 
    position: absolute;
    bottom: 0; 
} 

.fundo-branco {
    background: white;
    color: black;
}

.fundo-vermelho {
    background: var(--vermelho-principal);
    color: white;
}

/* Imagem da notícia principal */
main > .grid-cont-inicio > .cont-noticia > .img-noticia-principal {
    background-image: url("../images/pagina-principal/imagem-teste-maior.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

/* Imagem das notícias menores */
main > .grid-cont-inicio > .cont-noticia > .img-noticia {
    background-image: url("../images/pagina-principal/imagem-teste-menor.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

main > .grid-cont-inicio > .cont-noticia > .img-metade-grid {
    background-image: url("../images/pagina-principal/agenda-do-papa.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: cover;
    color: var(--vermelho-principal);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main > .noticia-principal {
    height: 468px;
}

main > .noticia-principal > .imagem  {
    width: 492px;
    height: 276.75px;
    background: gray;
}

main > .noticia-principal > .mensagem {
    width: 492px;
    height: 191.25px;
    padding: 10px;
    background: var(--vermelho-principal);
}

main > .noticia-principal > .mensagem > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
} */
