/* Variáveis */
:root {
    --background-site: #E9E9E9;

    --vermelho-principal: #CC0000;
    --vermelho-escuro: #B30000;
    --vermelho-claro: #E73838;

    --cinza-claro: #444444;
    --cinza-escuro: #383838;
}